<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <section class="background"></section>
    <div id='app'>
        <!--Container Section-->
        <section class="container flex">
            <div class="sidebar">
                <nav class="nav1 flex">
                    <div class="userImg">
                        <img src="./img/avatar_1.jpg" alt="User">
                    </div>
                    <div class="utentSect">
                        <div class="name">Nome Utente</div>
                    </div>
                    <div class="navButtons">
                        <span><i class="fa-solid fa-circle-notch"></i></span>
                        <span><i class="fa-solid fa-message"></i></span>
                        <span><i class="fa-solid fa-ellipsis-vertical"></i></span>
                    </div>
                </nav>
                <main>
                    <!--Notifications section-->
                    <section class="notifications flex">
                        <div class="bell"><i class="fa-solid fa-bell-slash"></i></div>
                        <div class="bellSect">
                            <div class="name">Ricevi notifiche di nuovi messaggi</div>
                            <div class="access">attiva notifiche desktop</div>
                        </div>
                    </section>
                    <section class="search mrgn-btt-20">
                        <form action="">
                            <input type="text" 
                              class="text-chat placeholder" 
                              id="fname" 
                              name="fname" 
                              placeholder="Cerca o inizia una nuova chat"
                              v-model.trim='newMessage'
                              @keyup="searchContact"
                            >
                          </form>
                    </section>
                    <!--Contact Section-->
                    <section class="contacts ">
                        <div v-for="(contact, index) in contacts" 
                             id="contact-less"
                             class="contact flex hover"
                             :class="`{active: index === activeContact}`"
                             @click="setActiveContact(index)"
                        >
                            <div class="contact-logo">
                                <img :src="`./img/avatar${contact.avatar}.jpg`" 
                                     :alt="contact.name">
                            </div>
                            <div class="contact-info">
                                <h3>
                                    <span class="contact-name">{{ contact.name }}</span>
                                </h3>
                            </div>
                        </div>
                    </section>
                </main>
            </div>
            <!--Chat Section-->
            <div class='chatSpace'>
                <nav class="nav2 flex">
                    <div class="userImg">
                        <img :src="`./img/avatar${contacts[activeContact].avatar}.jpg`" alt="User">
                    </div>
                    <div class="utentSect">
                        <div class="name">{{ contacts[activeContact].name }}</div>
                        <div class="access">Ultimo accesso alle 10:35</div>
                    </div>
                    <div class="navButtons">
                        <span><i class="fa-solid fa-magnifying-glass"></i></span>
                        <span><i class="fa-solid fa-paperclip"></i></span>
                        <span><i class="fa-solid fa-ellipsis-vertical"></i></span>
                    </div>
                </nav>
                <main class="flex2">
                    <section class="messageSection flex2">
                        <div v-for= "message in contacts[activeContact]. messages"
                             class="message flex2"
                             :class="message.status"
                        >
                            <span class="message-text">
                                {{ message.text }}
                            </span>
                            <span class="message-data">
                                {{ message.date }}
                            </span>
                        </div>
                    </section>
                    <section class="chat-bar flex">
                        <div class="icon"><i class="fa-regular fa-face-grin"></i></div>
                        <div class="chat mrgn-lft-52 placeholder">
                                <input type="text" class="middle placeholder
                                " id="fname" 
                                  name="fname" 
                                  placeholder="Scrivi un messaggio"
                                  v-model.trim='newMessage'
                                  @keyup.enter="addNewMessage"
                                >
                        </div>
                        <div class="icon"><i class="fa-solid fa-microphone"></i></div>
                    </section>
                </main>
            </div>
        </section>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.7/dayjs.min.js"></script>
    <script src="./js/script.js"></script>
</body>
</html>